# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/build/CMakeCache.txt
/build/CMakeFiles/CMakeCCompiler.cmake
/build/CMakeFiles/CMakeCXXCompiler.cmake
/build/CMakeFiles/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/CMakeDirectoryInformation.cmake
/build/CMakeFiles/CMakeOutput.log
/build/CMakeFiles/CMakeRuleHashes.txt
/build/CMakeFiles/CMakeSystem.cmake
/build/CMakeFiles/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/CompilerIdC/a.out
/build/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/CompilerIdCXX/a.out
/build/CMakeFiles/Makefile.cmake
/build/CMakeFiles/Makefile2
/build/CMakeFiles/TargetDirectories.txt
/build/CMakeFiles/check.dir/DependInfo.cmake
/build/CMakeFiles/check.dir/build.make
/build/CMakeFiles/check.dir/cmake_clean.cmake
/build/CMakeFiles/check.dir/progress.make
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/main.dir/CXX.includecache
/build/CMakeFiles/main.dir/DependInfo.cmake
/build/CMakeFiles/main.dir/build.make
/build/CMakeFiles/main.dir/cmake_clean.cmake
/build/CMakeFiles/main.dir/depend.internal
/build/CMakeFiles/main.dir/depend.make
/build/CMakeFiles/main.dir/flags.make
/build/CMakeFiles/main.dir/link.txt
/build/CMakeFiles/main.dir/progress.make
/build/CMakeFiles/p1.dir/CXX.includecache
/build/CMakeFiles/p1.dir/DependInfo.cmake
/build/CMakeFiles/p1.dir/build.make
/build/CMakeFiles/p1.dir/cmake_clean.cmake
/build/CMakeFiles/p1.dir/depend.internal
/build/CMakeFiles/p1.dir/depend.make
/build/CMakeFiles/p1.dir/flags.make
/build/CMakeFiles/p1.dir/link.txt
/build/CMakeFiles/p1.dir/progress.make
/build/CMakeFiles/p1.run.dir/DependInfo.cmake
/build/CMakeFiles/p1.run.dir/build.make
/build/CMakeFiles/p1.run.dir/cmake_clean.cmake
/build/CMakeFiles/p1.run.dir/progress.make
/build/CMakeFiles/progress.marks
/build/Makefile
/build/cmake_install.cmake
/build/p1
/build/p1.anim.xml
/CMakeLists.txt.user
/run-p1.sh~
